<ion-view view-title="About">
  <ion-content>
    <ul class="list">
      <li class="item" style="background-color:#00DD00;color:white;">
        Developers:
      </li>
      <li class="item">
       Rasika Garbhe
      </li>
      <li class="item">
        Peiyi Shen
      </li>
      <li class="item">
        Yezhen Zheng
      </li>
      <li class="item">
        Zhenkang Zhao
      </li>
    </ul>
    <ul class="list">
      <li class="item" style="background-color:#00DD00;color:white;">
        © 2016 Pace University
      </li>
    </ul>
  </ion-content>
</ion-view>
