<ion-view view-title="Recent Viewed">
  <ion-content>
    <ion-item style="text-align:center;">
      Sorted by relevance
    </ion-item>
    <ion-item class="row">
      <img style="width:100%;height:100%;" src="img/recent.png"/>
    </ion-item>
    <ion-item class="row">
      <img style="width:100%;height:100%;" src="img/recent2.png"/>
    </ion-item>
    <ion-item class="row">
      <img style="width:100%;height:100%;" src="img/recent.png"/>
    </ion-item>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-large button-assertive">Sort</button>
    <button class="button button-large button-assertive">Map</button>
  </div>
</ion-view>
