<ion-view view-title="Setting">
  <ion-content>
    <ul class="list">
      <ion-toggle ng-model="Notificate" toggle-class="toggle-calm">Notificate</ion-toggle>
      <ion-toggle ng-model="Saved" toggle-class="toggle-calm">Saved searches</ion-toggle>
    </ul>
    <ul class="list">
      <ion-toggle ng-model="Favorite" toggle-class="toggle-calm">Favorite</ion-toggle>
      <ion-toggle ng-model="Auto" toggle-class="toggle-calm">Auto update</ion-toggle>
    </ul>
    <ul class="list">
      <li class="item">
        Help&Feedback
      </li>
    </ul>
    <ul class="list">
      <li class="item">
        Private policy
      </li>
      <li class="item">
        Term of use
      </li>
    </ul>
  </ion-content>
</ion-view>
